section.block_3 {
    display: flex;
    justify-content: center;
    height: 550px;
    background: url(../img/section_3/sectionBackground.png) center/cover;
}

.block_3 > div.content {
    display: flex;
    align-items: flex-end;
    padding: 30px 20px 70px 20px;
}

.block_3 form {
    display: flex;
    width: 100%;
}

.block_3 input {
    width: 100%;
    max-width: 200px;
    height: 55px;
    padding: 0 15px;
    color: #262626;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    background-color: #ffffff;
}

.block_3 a.more_details {
    background-color: #48974c;
    color: #ffffff;
} 

.block_3 a.more_details:active {
    background-color: #ffffff;
    color: #48974c;
    border: 1px solid #48974c;
    transition: 0.3s ease;
} 